{% extends 'base.html' %}

{% load static %}
{% block head_content %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% endblock head_content %}

{% block title %}
Expenses
{% endblock title %}

{% block body_content %}
<table>
  <tr>
    <th>Expense No</th>
    <th>Category Name</th>
    <th>Amount</th>
  </tr>
    {% for eachdata in data %}
  <tr>

    <td>{{ eachdata.id }}</td>
    <td>{{ eachdata.category_id }}</td>
    <td>{{ eachdata.amount }}$</td>

  </tr>
    {% endfor %}
</table>
{% endblock body_content %}